language: objective-c
osx_image: xcode9.2
before_install:
  - brew install swiftlint
install:
  - bundle install
script:
  - fastlane test
  - swiftlint
after_success:
  - bash <(curl -s https://codecov.io/bash)